@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Edu+NSW+ACT+Foundation&family=Lato:wght@300&family=Oswald:wght@200&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Edu+NSW+ACT+Foundation&family=Lato:wght@300&family=Oswald:wght@200&family=Rubik+Moonrocks&family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    padding: 0 23px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
}
.search{
    display: flex;
 align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 14px;

}
.search button{
    font-family: 'Lato', sans-serif;

}
.slider{
    margin: 12px auto;
    width: 80vw;
    overflow: hidden;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}

.card{
    
    max-width: 88vw;
margin:37px auto;
font-family: 'Ubuntu', sans-serif;
}
.cards{
    display: flex;
    overflow: hidden;
    
}
.card h2{
    font-family: 'Lato', sans-serif;
    
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
    
}